/* CSS RESET */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GENERAL STYLES */

body {
    font-family: "DM Sans", sans-serif;
    background-color: #f8e9dd;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 572px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 16px;
}

/* HEADER */

.hd {
    width: 100%;
    margin-bottom: 16px;
    padding: 20px 24px 22px 20px;
    background-color: #ec755d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hd__text {
    color: #fff;
    margin-bottom: 4px;
}

.hd__balance {
    color: #fffbf6;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.hd__logo {
    width: 60px;
    height: 40px;
    cursor: pointer;
}

/* CARD */

.card {
    width: 100%;
    background-color: #fffbf6;
    border-radius: 10px;
    padding: 24px 20px 24px 20px;
}

.card__h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #382314;
    margin-bottom: 52px;
}

/* GRAPH */

.card__graph {
    width: 100%;
    text-align: center;

    display: grid;
    justify-content: center;
    align-items: end;

    grid-template-columns: repeat(7, minmax(0, 33px));
    grid-template-rows: 177px;
    column-gap: 12px;
}

.card__graph__wrapper {
    position: relative;
}

.card__graph__money {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -48px;
    z-index: 1;

    background-color: #382314;
    border-radius: 5px;
    padding: 8px;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #fffbf6;

    transition: opacity 0.15s;
    opacity: 0;
}

.card__graph__col {
    height: 1px;
    border-radius: 3px;
    background-color: #ec755d;
    cursor: pointer;
    transition: background-color 0.15s, height 0.5s ease-in-out;
}

.card__graph__col--active {
    background-color: #76b5bc;
}

.card__graph__col:hover {
    background-color: #ff9b86;
}

.card__graph__col--active:hover {
    background-color: #b4e0e5;
}

/* .card__graph__wrapper:nth-child(1) .card__graph__col {
    height: 50px;
}

.card__graph__wrapper:nth-child(2) .card__graph__col {
    height: 100px;
}

.card__graph__wrapper:nth-child(3) .card__graph__col {
    height: 150px;
}

.card__graph__wrapper:nth-child(4) .card__graph__col {
    height: 89px;
}

.card__graph__wrapper:nth-child(5) .card__graph__col {
    height: 67px;
}

.card__graph__wrapper:nth-child(6) .card__graph__col {
    height: 124px;
}

.card__graph__wrapper:nth-child(7) .card__graph__col {
    height: 73px;
} */

.card__graph__wrapper:nth-child(1):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(2):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(3):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(4):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(5):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(6):hover .card__graph__money {
    opacity: 1;
}

.card__graph__wrapper:nth-child(7):hover .card__graph__money {
    opacity: 1;
}

/*  */

.card__graph__p {
    font-size: 12px;
    line-height: 16px;
    color: #92857a;
    margin-top: 11px;
    cursor: pointer;
}

/* SUM */

.card__sum {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
}

.card__sum::before {
    content: "";
    background-color: #f8e9dd;
    width: 100%;
    height: 2px;
    border-radius: 1px;

    position: absolute;
    top: -26px;
}

.card__sum__col-left .card__sum__text {
    margin-bottom: 4px;
}

.card__sum__text {
    color: #92857a;
}

.card__sum__money {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #382314;
}

.card__sum__perc {
    font-weight: 700;
    text-align: right;
    color: #382314;
}
